.coffee_page {
  &_filter {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 84px;
    margin-top: 40px;
    margin-bottom: 60px;

    &_left {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    &_label {
      font-weight: 400;
      font-size: 14px;
    }

    &_input {
      font-family: "Merienda", sans-serif;
      width: 180px;
      height: 30px;
      font-weight: 400;
      font-size: 12px;
      text-align: center;
      border-radius: 4px;
      box-shadow: 4px 4px 30px 2px rgba(0, 0, 0, 0.25);
      resize: none;
      border: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-family: "Merienda", sans-serif;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        color: rgba($color: #000000, $alpha: 0.5);
      }
    }

    &_right {
      display: flex;
      gap: 35px;
    }

    &_buttons {
      display: flex;
      gap: 5px;
    }

    &_btn {
      font-family: "Merienda", sans-serif;
      width: 75px;
      height: 30px;
      font-weight: 400;
      font-size: 12px;
      text-align: center;
      border: none;
      background: #fff;
      cursor: pointer;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: inherit;
        box-shadow: 4px 4px 30px 2px rgba(0, 0, 0, 0.25);
        z-index: -1;
      }
    }

    &_btn:first-child {
      border-radius: 4px 0 0 4px;
    }

    &_btn:last-child {
      border-radius: 0 4px 4px 0;
    }

    &_btn:hover {
      background: gray;
      color: #fff;
    }
  }
}
