.home {
  &_header {
    position: relative;
    width: 100%;
    height: 640px;
    background-image: url("../../assets/img/mainPage/mainBG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &_nav {
      padding-top: 30px;
      margin-left: 150px;
    }

    &_container {
      width: 100%;
      text-align: center;
      padding-top: 110px;
    }

    &_title {
      font-weight: 700;
      font-size: 40px;
      color: #fff;
    }

    &_subtitle {
      font-weight: 700;
      font-size: 24px;
      margin-top: 25px;
      color: #fff;
    }

    &_btn {
      display: block;
      width: 120px;
      height: 30px;
      margin: 30px auto 0 auto;
      padding: 5px 40px;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 3px;
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      cursor: pointer;
      transition: all 0.2s ease;
      text-decoration: none;

      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
      }

      &:active {
        transform: scale(0.97);
      }
    }
  }
}
