@font-face {
  font-family: "Merienda";
  src: url("../assets/fonts/Merienda-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merienda";
  src: url("../assets/fonts/Merienda-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merienda", sans-serif;
  font-weight: 400;
  color: #000;
}
