.cards {
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 220px);
  column-gap: 70px;
  row-gap: 60px;
  justify-content: center;
}
.noCards {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
}
