.card {
  flex: 1;
  max-width: 220px;
  height: 270px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-radius: 8px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  transition: transform 0.2s;
  cursor: pointer;
  text-decoration: none;

  &_img {
    width: 100%;
    max-height: 150px;
    height: 150px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &_info {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: end;
  }

  &_name {
    margin: 12px 0 10px 0;
    font-weight: 400;
    font-size: 14px;
    color: #000;
  }

  &_price {
    align-self: flex-end;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 14px;
    color: #000;
  }

  &_btn {
    font-family: "Merienda", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 120px;
    height: 30px;
    font-weight: 400;
    font-size: 12px;
    border: none;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #000;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.25);
      z-index: 0;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:active {
      transform: scale(0.97);
    }
  }
}
