.card {
  flex: 1;
  max-width: 220px;
  height: 240px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-radius: 8px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  transition: transform 0.2s;
  cursor: pointer;
  text-decoration: none;

  &:active {
    transform: scale(0.95);
  }

  &_img {
    margin-top: 20px;
    width: 100%;
    max-height: 150px;
    height: 150px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: end;
  }

  &_name {
    margin: 12px 0 10px 0;
    font-weight: 400;
    font-size: 14px;
    color: #000;
  }

  &_price {
    align-self: flex-end;
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 14px;
    color: #000;
  }
}
