.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  span {
    width: 60px;
    height: 1px;
    background-color: var(--divider-color);
  }

  img.divider_icon {
    width: 30px;
    height: 30px;
    margin: 0 25px;
  }
}
