.header {
  height: 260px;
  width: 100%;

  &_nav {
    padding-top: 30px;
    margin-left: 150px;
  }

  &_title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-top: 60px;
    color: #fff;
  }
}
