.content {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 270px 350px;
  grid-template-rows: auto auto;
  column-gap: 80px;
  justify-content: center;

  &--wide {
    grid-template-columns: 390px 420px;
    column-gap: 55px;
    padding-bottom: 30px;
  }

  &_divider {
    grid-column: 1/3;
    display: block;
    margin: 60px auto;
    width: 240px;
    height: 1px;
    background-color: #000;
    justify-self: center;
  }
}
.img {
  grid-column: 1;
  grid-row: 1/2;
  object-fit: cover;
  max-width: 270px;
  max-height: 355px;
  box-shadow: 5px 5px 30px 4px rgba(0, 0, 0, 0.25);

  &--wide {
    max-width: 390px;
    height: 100%;
  }
}

.text {
  grid-column: 2;
  &_title {
    margin-top: 10px;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
  }

  &_paragraph {
    margin-top: 26px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
  }

  &_country {
    margin-top: 26px;
    font-weight: 700;
    font-size: 14px;

    span {
      font-weight: 400;
      font-size: 14px;
    }
  }

  &_price {
    margin-top: 16px;
    font-weight: 700;
    font-size: 14px;

    span {
      font-weight: 400;
      font-size: 24px;
    }
  }
}
