.home {
  &_about {
    height: 520px;
    padding-top: 80px;

    &_title {
      font-weight: 400;
      font-size: 24px;
      text-align: center;
    }

    &_divider {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      span {
        width: 60px;
        height: 1px;
        background-color: #000;
      }

      img {
        width: 30px;
        height: 30px;
        margin: 0 25px;
        filter: invert(1);
      }
    }

    &_text {
      width: 600px;
      margin: 40px auto 0 auto;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
    }
  }

  &_best {
    width: 100%;
    height: 500px;
    padding-top: 80px;
    background-image: url("../../assets/img/mainPage/bestBG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &_title {
      font-weight: 400;
      font-size: 24px;
      text-align: center;
    }

    &_cards {
      width: 800px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
    }

    &_card {
      flex: 1;
      max-width: 220px;
      height: 240px;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      text-align: center;
      border-radius: 8px;
      background-color: rgba(255, 255, 255, 0.65);

      img {
        margin-top: 20px;
        width: 100%;
        max-height: 150px;
        height: auto;
        object-fit: contain;
      }

      &_name {
        margin: 12px 0 10px 0;
        font-weight: 400;
        font-size: 14px;
      }

      &_price {
        align-self: flex-end;
        margin-bottom: 22px;
        font-weight: 700;
        font-size: 14px;
      }
    }
  }
}
